html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 2rem;
}

.shop-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 120%;
}
.shop-list-item {
  margin: 0 1rem;
}

.shop-link {
  color: #fff;
}
.shop-link:hover {
  color: dodgerblue;
}
.shopname {
  padding: 0 1rem;
}

/* card of the shop */

.card-container {
  margin: 0;
  height: 100%;
  background: rgb(235, 233, 233);
  font-size: 2rem;
  overflow: hidden;
}

.card > h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 2rem;
  color: #000;
}
.card-product {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  row-gap: 20px;
  width: 90%;
  margin: 1rem auto;
  max-width: 1020px;
}
.card-box {
  width: 100%;
  color: black;
  border: 0;
  overflow: hidden;
  height: 400px;
  outline: 0;
  margin: 0;
  transition: transform 0.3s;
  border-radius: 10px;
}

.card-box img {
  width: 100%;
  height: 80%;
  margin: 0;
  display: inline-block;
}

.card-box p {
  color: black;
  outline: 0;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  color: #000;
  display: inline-block;
}
.card a {
  color: #fff;
}
.card-link {
  display: flex;
  height: 20%;
  background: dodgerblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .card-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card > h1 {
    font-size: 5rem;
  }
  .card-product {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
